{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All html files will be in templates folder</title>
    <!-- {% load static %} -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <p class="cssAddKe">Hi, i am in templates folder, btw how are you {{name}}</p> <!--To dynamically tareke se Name a gaya, ab yeh name jo hai yeh backend se aya -->
    <p>You are {{age}} years old</p>
    <p>Your nationality is {{nationality}}</p> 

    <a href="https://www.google.com">Google</a>
    <br>

    <!--Assignment -> 1-->

    <h1>Input your text below:</h1>

    <form method="POST" action="counter"> <!-- Action means where we want all this data to send to, to counter bhejna, Iska kaam hota hai batana ki form ka data kaha bhejna hai jab user submit kare. Matlab yeh URL path hai counter is time-->
        <!-- Method by default get hota ke sab kuch url me bhe jai ga, agar koi private info hai ham nhi bhejna chate to ham post use krein ge agar normal info bhej rhy to get use kr sakte -->
        {% csrf_token %} <!-- lakin wo jo get request ke the us ko bhe POST krna ho ga waha par views.py me-->
        <textarea name="text" id="" rows = "25" cols="100"></textarea>
        <input type="submit">

    </form>

    


</body>
</html>