* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 63.5%;
}

body {
    background-color: rgb(3, 0, 31);
    color: white;     
    font-family: 'Poppins';  
    margin-left: 30px;
}

.App {
    min-height: 100vh;
    display: flex;
}

.sideBar {
    flex: 2.8;
    border-right: 1px solid rgb(75, 75, 75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto; 
}

.main {
    flex: 9;
    height: 100vh;
    overflow-y: auto;
}

.upperSideTop {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center; 
    gap: 8px;
}

.query {
    background-color: transparent;
    color: rgb(174, 173, 173);
    border: 1px solid rgb(82, 82, 82);
    width: 80%;
    height: 55px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 30px; */
    gap: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.addBtn {
    width: 30px;
    height: 25px;
}

.midBtn {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 8px;
    width: 80%;
    height: 70px;
    background-color: rgb(96, 74, 224);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}

.upperSideButton {
    margin-top: 40px;
    margin-bottom: 230px;
}

.upperSide {
    border-bottom: 1px solid grey;
}

.upperSideTop span {
    padding: 12px;
}

.logo {
    height: 50px;
    width: 50px
}

.chatgpt {
    font-size: x-large;
}

.msgImg {
    height: 40px;
    width: 25px;
}

.listItems {
    display: flex;
    gap: 10px;
    font-size: large;
    margin-top: 30px;
    cursor: pointer;
    align-items: center;
}

.listItemsImg {
    width: 20px;
    height: 20px;
}

.lowerSide {
    margin-left: 35px;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.gptlogo {
    height: 45px;
    border-radius: 5px;
}

.imguser {
    height: 45px;
    border-radius: 5px;
}

.input {
    background-color: rgb(24, 24, 56);
    height: 60px;
    width: 800px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.inp {
    border: rgb(27, 27, 68);
    background-color: transparent;
    width: 800px;
    height: 50px;
    margin-top: -6px;
    border: none;
    color: rgb(199, 198, 198);
    font-size: medium;
    padding: 10px;
}

.send {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.inp:focus {
    outline: none;
}


.chat-footer {
    margin-bottom: 15px;
    /* position: ; */
}

.oneline {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 1.2rem;
    color: rgb(149, 148, 148);
}

.firstdivofnavbar {
    /* background-color: rgb(77, 77, 167); */
    margin-top: 15px;
    color: rgb(237, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.firstpara {
    font-size: 2.3rem;
}

.secondpara {
    font-size: medium;
}

.down_arrow {
    height: 20px;
    width: 20px;
     background-color: black;
}

.down-arrow {
    font-size: 20px;
}

.chats {
    padding: 50px 100px;
    font-size: medium;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.chat1, .chat2 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 80%; 
    line-height: 1.4;
}

.chat1 {
    align-self: flex-end; 
    background-color: rgb(24, 24, 56);
    border-radius: 12px;
    padding: 15px;
}

.chat2 {
    align-self: flex-start;
    background-color: rgb(40, 40, 81);
    border-radius: 12px;
    padding: 15px;
}