* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 63.5%;
}

body {
    background-color: rgb(3, 0, 31);
    color: white;     
    font-family: 'Poppins';  
    margin-left: 30px;
}

.App {
    min-height: 100vh;
    display: flex;
}

.sideBar {
    flex: 3;
    border-right: 1px solid rgb(75, 75, 75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    flex: 9;
}

.upperSideTop {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center; 
    gap: 8px;
}

.query {
    background-color: transparent;
    color: rgb(174, 173, 173);
    border: 1px solid rgb(82, 82, 82);
    width: 80%;
    height: 55px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    gap: 15px;
    margin-bottom: 20px;
}

.addBtn {
    width: 30px;
    height: 25px;
}

.midBtn {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 8px;
    width: 80%;
    height: 70px;
    background-color: rgb(96, 74, 224);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
}

.upperSideButton {
    margin-top: 40px;
    margin-bottom: 230px;
}

.upperSide {
    border-bottom: 1px solid grey;
}

.upperSideTop span {
    padding: 12px;
}

.logo {
    height: 50px;
    width: 50px
}

.chatgpt {
    font-size: x-large;
}

.msgImg {
    height: 40px;
    width: 25px;
}

.listItems {

    font-size: large;
    margin-top: 30px;
}

.listItemsImg {
    width: 20px;
    height: 20px;
}

.lowerSide {
    margin-left: 35px;
    margin-bottom: 20px;
}